@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.btn {
  background-color: yellow;
  padding: 10px 20px;
  color: black;
}
.row {
  display: flex;
}

/* start home page */
header {
  height: 90vh;
  background-image: url("./images/slides/slide1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  height: 10vh;
  background: #ff9100;
}

.nav-links {
  display: flex;
}
.nav-links li {
  list-style: none;
  padding: 1.8rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.nav-links li a {
  text-decoration: none;
  color: white;
}
.nav-links li a:hover {
  color: black;
}
.big-heading {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  color: #ff9100;
  line-height: 1.2;
  letter-spacing: 0.2rem;
}
.big-heading h1 {
  text-align: start;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.big-heading a {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  color: #0a0a0a;
  background-color: yellow;
  /* margin-left: 150px; */
}
#search {
  width: 100%;
  margin-top: 0px;
}
.search-panel {
  background: url("./images/bg_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #ff9100;
}
.search-form {
  width: 80%;
  display: flex;
  margin: 0 auto;
  height: 20vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.form-group {
  margin: 10px;
  color: white;
}

.input-group {
  display: flex;
  background: yellow;
  padding-left: 15px;
  text-align: center;
  outline: none;
  border-radius: 0;
}

.form-control {
  height: 44px;
  padding: 0px 10px;
}
.input-group-addon {
  padding-right: 10px;
  text-align: center;
  color: black;
}

.section-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.card {
  width: 30%;
  background: rgb(223, 215, 215);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.card-img-top {
  width: 100%;
  border-bottom: 4px solid #ff9100;
}
.card-body {
  padding: 20px 15px;
}
.btn-primary {
  margin-top: 20px;
}
.card-text {
  margin: 25px 0px;
}
footer {
  margin-top: 40px;
  background: #282828;
  padding: 30px 0px;
  color: #999999;
}
footer h2 {
  margin-bottom: 20px;
}
footer li a {
  color: #999999;
}
footer li:hover {
  text-decoration: underline;
}

center {
  margin-top: 30px;
}

/* End Home page */

/* Start about page */
.about-us .mid-content {
  margin-top: -50px;
}
.achievement-info {
  margin: 20px 0px;
}
.our-team h1,
.about-us h1 {
  margin-bottom: 10px;
}
.our-team p {
  margin-bottom: 30px;
}
.member-card {
  width: 23%;
  border: 2px solid gray;
}
.member-card img {
  width: 100%;
}

.member-info {
  background-color: #d6d6d6;
  padding: 10px 0px;
}
.fab {
  margin: 7px;
  cursor: pointer;
}

/* End about page */

/* Start project page */

.project .row {
  margin-top: 20px;
}
.project .section-title {
  text-align: center;
  margin: 20px;
}
.portfoli-item {
  width: 30%;
}
.portfoli-item img {
  width: 100%;
}
.portfoli-item:hover {
  opacity: 0.5;
}
/* End project page */

/* Start contact page */

.contact .left-content {
  width: 50%;
}
.contact .left-content p,
.contact .left-content .section-heading {
  margin-left: 10px;
}
.contact .mid-content {
  margin-top: -380px;
}
.contact .right-content {
  margin-top: -380px;
}
.contact .form-group {
  color: black;
}
.contact label {
  font-size: 1.2rem;
}
.contact input,
.contact textarea {
  border-radius: 5px;
  margin-top: 5px;
  font-size: 1.2rem;
  border: 1px solid black;
}
.contact .input-group {
  background: white;
  width: 100%;
  height: 40px;
  text-align: start;
}

.contact .two-item {
  display: flex;
}
.contact .item-one {
  width: 45%;
  margin-left: -35px;
}
.contact .item-two {
  width: 45%;
  margin-right: -35px;
}
.contact .contact-message {
  padding: 20px;
  margin-bottom: 10px;
}
.contact-info {
  font-size: 1.2rem;
}

/* End contact page */
